.hf2LYd {
    color: #202124;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75rem
}

.tl5cWb {
    color: #202124;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem
}

.FMcyT {
    color: #202124;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem
}

.Kqfayb {
    color: #3c4043;
    letter-spacing: .00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem
}

.BgHQ3e {
    color: #3c4043;
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem
}

.xUvfQb {
    color: #3c4043;
    letter-spacing: .0125em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem
}

.w7mMgb {
    color: #3c4043;
    letter-spacing: .01785714em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem
}

.XDCFvf {
    color: #3c4043;
    letter-spacing: .00625em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem
}

.FMzRdf {
    color: #3c4043;
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem
}

.MuGjgf {
    color: #5f6368;
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem
}

.qVzWGe {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit
}

.QGK5hf {
    letter-spacing: .00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem
}

.jEt4Gf {
    letter-spacing: .01785714em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem
}

.mGD88b {
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem
}

.eaF3Ie,
.eaF3Ie:visited {
    color: #1967d2;
    cursor: pointer;
    text-decoration: none
}

.eaF3Ie:hover,
.eaF3Ie:focus {
    outline: none;
    text-decoration: underline
}

.RMrItf {
    color: #5f6368
}

.Vn3w8c {
    color: rgba(0, 0, 0, .38)
}

.Dcm1fd {
    color: #d93025;
    font-style: italic
}

.VAPGpe {
    font-size: .1rem;
    height: .1rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: .1rem
}

.K0lUWd {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block
}

.sKKyEc {
    display: block;
    margin: -12px -12px
}

.pAlOFe {
    color: #1a73e8;
    fill: #1a73e8
}

.Lzvjbf {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.XM8TV {
    -webkit-box-flex: 1 0 4px;
    -webkit-flex: 1 0 4px;
    flex: 1 0 4px
}

.ryQTbf {
    -webkit-box-flex: 1 0 8px;
    -webkit-flex: 1 0 8px;
    flex: 1 0 8px
}

.NHp4Tc {
    -webkit-box-flex: 1 0 16px;
    -webkit-flex: 1 0 16px;
    flex: 1 0 16px
}

.ft5Sbf {
    border: 1px solid rgba(0, 0, 0, .12);
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.C4yF5e {
    border: 1px solid rgba(0, 0, 0, .12);
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.F8dn3e {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.Sa0J5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%
}

.oTi4Qd {
    left: 0;
    position: absolute;
    top: 0
}

[dir="rtl"] .oTi4Qd {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.Niache {
    border-right: 0.0625rem solid #e0e0e0
}

.bHOAdb {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative
}

.nGmYJe .bHOAdb {
    opacity: 0.4
}

.bHOAdb {
    height: 4.375rem;
    overflow: hidden;
    width: 6.5625rem
}

.bHOAdb img,
.bHOAdb .mXQw7d {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%
}

.bHOAdb img.csnH7d {
    padding: 0.375rem
}

.zyJ7l {
    background-color: #fafafa
}

.zyJ7l img {
    max-height: 80%
}

.F4mChd .bHOAdb {
    height: 3.5rem;
    width: 3.5rem
}

.JkIgWb {
    text-decoration: none;
    outline: none
}

.QDKOcc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.TelT7e:hover,
.JkIgWb:focus .TelT7e {
    text-decoration: underline
}

.kMUPoc .iv7Rwd {
    display: none
}

.DHmSPe {
    margin-right: -0.5rem
}

.K013Jb {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0.5rem
}

.bHOAdb:empty {
    border: 0.0625rem solid #e0e0e0;
    background: #eee
}

.MlZb9c.JY4wBc:not(:empty),
.MlZb9c.Zat4re:not(:empty) {
    margin-bottom: 1rem
}

.MlZb9c.Zat4re .t2wIBc:not(:first-child) .r0VQac,
.MlZb9c.Zat4re .Yzgtqe.WKpRFb:not(:first-child) {
    margin-top: 0.75rem
}

.JY4wBc .t2wIBc:not(:first-child) .r0VQac {
    margin-top: 0.5rem
}

.r0VQac,
.Yzgtqe,
.M4LFnf {
    padding-right: 0.5rem
}

.r0VQac {
    position: relative
}

.Yzgtqe {
    position: relative;
    overflow: visible
}

.Yzgtqe .bHOAdb {
    overflow: hidden;
    -webkit-border-radius: 0.4375rem 0 0 0.4375rem;
    border-radius: 0.4375rem 0 0 0.4375rem
}

.r0VQac .lwlIqf,
.Yzgtqe .lwlIqf {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0
}

@media not all and (max-width:40em) {
    .luto0c {
        position: relative
    }

    .luto0c .lwlIqf {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0
    }
}

.r0VQac .F1bQqd,
.r0VQac .vwNuXe,
.Yzgtqe .F1bQqd,
.Yzgtqe .vwNuXe,
.luto0c .F1bQqd,
.luto0c .vwNuXe {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden
}

.r0VQac .bHOAdb,
.Yzgtqe .bHOAdb,
.luto0c .bHOAdb,
.ZgfM9>* {
    margin-right: 1rem
}

.r0VQac.F4mChd .bHOAdb,
.F4mChd .ZgfM9>* {
    margin-right: 0.5rem
}

.MM30Lb {
    overflow: hidden
}

.WInaFd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.ZgfM9 {
    padding-left: 1rem
}

.F4mChd .ZgfM9 {
    padding-left: 0.5rem
}

.ZgfM9 .mUbCce,
.ZgfM9 .Y5FYJe {
    margin-left: -0.5rem;
    margin-right: -0.25rem
}

.gCEqcd {
    margin-right: 0.25rem
}

.tAQe1b {
    color: #5f6368
}

.Yzgtqe.WKpRFb .ZgfM9 {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

@media not all and (max-width:60rem) {
    .TTxyDb {
        display: none
    }
}

@media (max-width:60rem) {
    .rEszjc {
        display: none
    }

    .Yzgtqe.WKpRFb {
        display: block;
        padding: 1rem;
        padding-bottom: 0.5rem
    }

    .Yzgtqe.WKpRFb .F1bQqd {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        margin-bottom: 0.5rem;
        overflow: visible
    }

    .Yzgtqe.WKpRFb .ZgfM9 {
        display: block;
        padding: 0
    }

    .Yzgtqe.WKpRFb .ZgfM9>* {
        margin-right: 0;
        margin-bottom: 0.5rem
    }

    .Yzgtqe.WKpRFb .mUbCce {
        margin-left: 0.5rem;
        margin-right: -0.5rem
    }
}

.J9GwTe {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.J9GwTe img,
.J9GwTe .DPvwYc {
    color: rgba(0, 0, 0, .549);
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1rem;
    height: 1rem;
    margin: 0.5rem;
    width: 1rem
}

.J9GwTe .QDKOcc {
    font-weight: 400
}

.qYQ2Fb:not(:empty) {
    margin-right: -0.5rem
}

.AgzMgb.qYQ2Fb:not(:empty),
.AgzMgb .qYQ2Fb:last-child {
    margin-bottom: -0.5rem
}

@media (max-width:40em) {
    .d3aYgd:not(:empty) {
        margin-right: -0.5rem
    }

    .AgzMgb.d3aYgd:not(:empty),
    .AgzMgb .d3aYgd:last-child {
        margin-bottom: -0.5rem
    }
}

.qYQ2Fb,
.MlZb9c.xLFtvb,
.d3aYgd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.Q1Ykn {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem
}

@media (max-width:40em) {
    .luto0c {
        margin-bottom: 0.5rem;
        margin-right: 0.5rem
    }
}

.MlZb9c.xLFtvb .t2wIBc {
    box-sizing: border-box;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    width: calc(50% - 0.75rem)
}

@media not all and (max-width:30em) {
    .MlZb9c.xLFtvb:not(:empty) {
        margin-right: -0.75rem
    }

    .AgzMgb.MlZb9c.xLFtvb:not(:empty),
    .AgzMgb .MlZb9c.xLFtvb:last-child {
        margin-bottom: -0.75rem
    }
}

@media not all and (max-width:40em) {
    .d3aYgd:not(:empty) {
        margin-right: -0.75rem
    }

    .AgzMgb.d3aYgd:not(:empty),
    .AgzMgb .d3aYgd:last-child {
        margin-bottom: -0.75rem
    }

    .d3aYgd .luto0c {
        box-sizing: border-box;
        margin-bottom: 0.75rem;
        margin-right: 0.75rem;
        width: calc(50% - 0.75rem)
    }
}

@media (max-width:30em) {
    .MlZb9c.xLFtvb {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .MlZb9c.xLFtvb .t2wIBc,
    .MlZb9c.xLFtvb .r0VQac {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 0;
        width: 100%
    }
}

.VkhHKd {
    -webkit-align-items: center;
    align-items: center;
    border: 0.0625rem solid #e0e0e0;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 2rem;
    max-width: 14.25rem;
    overflow: hidden;
    padding: 0.25rem 0.75rem;
    position: relative;
    z-index: 0
}

.VkhHKd:hover .DAnlhb {
    opacity: .08
}

.VkhHKd:focus .DAnlhb {
    opacity: .24
}

.VkhHKd:active .gM4mlb {
    animation: hrRippleTransform .2s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
    opacity: .08
}

.VkhHKd.e7EEH,
.VkhHKd.e7EEH:active,
.VkhHKd.e7EEH:visited {
    color: inherit;
    text-decoration: none
}

.DAnlhb {
    background-color: #5f6368;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.rzTfPe {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.125rem;
    height: 1.125rem;
    margin-right: 0.5rem;
    -webkit-justify-content: center;
    justify-content: center;
    width: 1.125rem
}

.rzTfPe .DPvwYc {
    font-size: 1.125rem
}

.rzTfPe img {
    height: 1.125rem;
    width: 1.125rem
}

.a7OWub {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    line-height: 0;
    padding: 0.5rem
}

.a7OWub:focus {
    background-color: rgba(153, 153, 153, 0.4);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: background 150ms;
    transition: background 150ms
}

.sVNOQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.fPotmc,
.NCzUzb {
    padding: 0.375rem 0.5rem
}

.NCzUzb.dDKhVc {
    color: #d50000
}

.akrp3c {
    display: block
}

.akrp3c .snByac {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem
}

.L4Hgye {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.L4Hgye:not(:empty),
.UbHeTc {
    margin-bottom: -0.25rem
}

.UbHeTc .e0pgvc {
    margin-right: 0.25rem;
    padding-bottom: 3px;
    vertical-align: middle
}

.kRYv9b {
    margin-right: 0.25rem
}

@media not all and (max-width:60rem) {
    .ii9Rh {
        display: none
    }
}

.hh5ESd {
    background: url('https://www.gstatic.com/docs/doclist/images/mediatype/icon_1_document_x64.png') center no-repeat
}

.IVUIAc {
    background: url('https://www.gstatic.com/docs/doclist/images/mediatype/icon_1_presentation_x64.png') center no-repeat
}

.sz06xb {
    background: url('https://www.gstatic.com/docs/doclist/images/mediatype/icon_1_sheets_x64.png') center no-repeat
}

.fnQkod {
    background: url('https://www.gstatic.com/docs/doclist/images/mediatype/icon_1_drawing_x64.png') center no-repeat
}

.f4EhNd {
    background: url('https://www.gstatic.com/docs/doclist/images/mediatype/icon_2_form_x64.png') center no-repeat
}

.hh5ESd,
.IVUIAc,
.sz06xb,
.fnQkod,
.f4EhNd {
    -webkit-background-size: contain;
    background-size: contain;
    height: 1.25rem;
    width: 1.25rem
}

.quka1c {
    line-height: 2rem !important;
    margin-left: 1rem
}

.larTwb {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.tUdUhd {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.V4lbob {
    height: 3rem
}

.CbEM3c {
    width: 3rem
}

.NZltnf .Ce1Y1c {
    opacity: 1
}

.j2Z1yb {
    height: 1.125rem;
    width: 1.125rem
}

.ilrGNd {
    position: relative
}

.ilrGNd:before {
    background: #c5221f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "";
    font-size: 0;
    height: 0.3125rem;
    line-height: 0;
    position: absolute;
    right: 0.125rem;
    top: 0.125rem;
    width: 0.3125rem
}

.iqM9Yd {
    font-size: 1.25rem;
    height: 1.25rem;
    width: 1.25rem
}

.drfbBf {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden
}

.LeIGP {
    border-color: #e8eaed;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.0625rem;
    height: 3rem;
    margin: 0.75rem;
    margin-bottom: 0.5rem;
    width: 3rem
}

.C1Hmje {
    text-align: center
}

.LDr2ne {
    border-bottom: 0.0625rem solid #e0e0e0;
    border-top: 0.0625rem solid #e0e0e0;
    margin: 0 -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem
}

.xS7jB {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.D9l13b {
    color: rgba(0, 0, 0, .549);
    margin: 0.5rem 0 0.25rem 0
}

.rLpHLd {
    max-width: none
}

.EutHWe {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.LdvLn .snByac {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left
}

.nmr34b .snByac {
    overflow: hidden
}

.nmr34b .Ce1Y1c,
.k5SYqb .snByac {
    line-height: 1.25rem
}

.YWEHbb {
    margin-left: 8px
}

.PhlOZb {
    margin: 0 -4px;
    padding: 0 4px;
    font-style: italic
}

.xjQr1 {
    height: 16px;
    width: 16px
}

.xjQr1 .GOJTSe {
    border-width: 2px
}

.zZ8fDe {
    max-width: 35rem
}

.qj5L0 {
    border-bottom: 0.0625rem solid #e0e0e0;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem
}

.xhoYVc {
    padding-top: 1rem
}

.O98Lj {
    color: #333;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    position: relative
}

.QTMzUe {
    border: none;
    outline: none;
    width: 100%
}

input.QTMzUe::-webkit-input-placeholder,
input.QTMzUe:-moz-placeholder,
input.QTMzUe::-moz-placeholder,
input.QTMzUe:-ms-input-placeholder {
    color: rgba(0, 0, 0, .24)
}

input.QTMzUe:disabled {
    background-color: #f5f5f5
}

.Yiql6e p {
    margin: 0
}

.Lzdwhd-BrZSOd {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    color: rgba(0, 0, 0, .24);
    position: absolute
}

.Lzdwhd-AyKMt {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, .24);
    padding-bottom: 0.0625rem
}

.Lzdwhd-AyKMt:focus {
    border-bottom: #377dfa solid 0.125rem;
    padding-bottom: 0
}

.QTMzUe {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.875rem
}

.QTMzUe:focus {
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    padding-bottom: 0.75rem
}

.Lzdwhd-AyKMt.iTy5c {
    border: none
}

.Lzdwhd-AyKMt {
    cursor: text;
    outline: none;
    position: relative;
    word-wrap: break-word;
    min-height: 1.25rem
}

@media (max-width:40em) {
    .O98Lj {
        font-size: 0.875rem
    }
}

.ztA2jd-auswjd {
    background-color: #eee
}

.ztA2jd-SUR3Rd {
    -webkit-box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, .12), 0 0 0.0625rem rgba(0, 0, 0, .12);
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, .12), 0 0 0.0625rem rgba(0, 0, 0, .12);
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    position: absolute;
    z-index: 1192
}

.ztA2jd-oKdM2c {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.75rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    width: 100%
}

.A4OZlf {
    max-width: 47.5rem;
    width: 100%
}

.A4OZlf .wnIM7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: -8px;
    overflow: auto;
    padding: 8px 0 0 0
}

.LhPqk .oxacD {
    display: inline-block
}

.qk5dFc {
    opacity: .001
}

.wJ76ge .qk5dFc:focus,
.wJ76ge:hover .qk5dFc {
    opacity: 1
}

.pMq3Db {
    margin-bottom: 1rem
}

.wJ76ge.nGmYJe {
    opacity: .57
}

.WqfsMd {
    height: 2rem;
    margin: .4rem 1rem 0 0;
    width: 2rem
}

.G0rp {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    min-width: 0
}

.YU7iib {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 1.5rem
}

.gJItbc {
    display: inline;
    margin-right: 0.5rem
}

.thiSD {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-left: 0.5rem
}

.VSWCL {
    word-wrap: break-word
}

.KYmC8d,
.L8jEMd {
    margin-left: 0.5rem
}

.wJ76ge .a7OWub {
    padding: 0
}

.q9pD9 {
    border-bottom: 0.0625rem solid #e0e0e0;
    border-top: 0.0625rem solid #e0e0e0;
    margin-bottom: 1rem;
    padding: 1rem 0 0.5rem
}

.BQa3Cf {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.iS4pCd {
    margin: 1rem 0
}

.pYglbf .uArJ5e:not(:last-child) {
    margin-right: 1rem
}

.pYglbf .EmVfjc {
    height: 1.125rem;
    margin: .9rem;
    width: 1.125rem
}

@media (max-width:40em) {
    .XAoEbc .BQa3Cf {
        margin-top: 0
    }
}

.oleV8d {
    border: 0.0625rem solid #e0e0e0;
    -webkit-border-radius: 1.1875rem;
    border-radius: 1.1875rem;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin: 0.0625rem
}

.oleV8d:focus-within {
    border-width: 0.125rem;
    margin: 0
}

.x7VMf {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    padding: 0.375rem 0.9375rem
}

.PeGHgb.jbH5ac {
    margin: -1rem -1.5rem
}

.PeGHgb.Q8U8uc .amzDAb,
.PeGHgb:not(.Q8U8uc) .WuChGe,
.PeGHgb:not(.Q8U8uc) .VYv8If {
    display: none
}

.yoORU {
    border-bottom: 0.0625rem solid #e0e0e0;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 1.5rem
}

.FfZdze {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    margin-bottom: 1rem
}

.fKCeB {
    background: url('https://www.gstatic.com/classroom/empty_states_comments.png') center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 9rem;
    margin-bottom: 1.5rem;
    width: 9rem
}

.PeGHgb .f0kHoc {
    margin: 1.5rem;
    width: initial
}

.WuChGe {
    padding: 1rem 1.5rem
}

.VYv8If {
    padding: 1rem 0.25rem
}

.Ono85c {
    padding: 0 1.5rem
}

.ruTJle {
    padding: 0
}

.oh9CFb {
    padding: 1rem 1.5rem
}

.fETHd {
    padding: 1rem 1.5rem 1rem 0
}

.ho6Zoe {
    margin-right: 0.5rem
}

.xAiME {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.5rem;
    margin-top: 0.25rem;
    padding: 0.5rem 0;
    word-wrap: break-word
}

.UFyUUb {
    margin-left: -0.5rem
}

.MnrlDb {
    margin: 0 1.25rem
}

.PeGHgb.Q8U8uc .Ono85c+.oh9CFb,
.PeGHgb.Q8U8uc .ruTJle+.fETHd {
    border-top: 0.0625rem solid #e0e0e0
}

.PeGHgb.jbH5ac .oh9CFb,
.PeGHgb.jbH5ac .fETHd {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 0;
    padding-right: 0
}

.PeGHgb[aria-expanded="false"] .dZVZab:not(:last-child) {
    display: none
}

.PeGHgb.YHeUvc[aria-expanded="false"] .Ono85c,
.PeGHgb.YHeUvc.Q8U8uc[aria-expanded="false"] .oh9CFb,
.PeGHgb.YHeUvc.Q8U8uc[aria-expanded="false"] .fETHd {
    display: none
}

.Y0e1Gd {
    -webkit-align-self: initial;
    align-self: initial;
    height: 2rem;
    margin-right: 1rem;
    width: 2rem
}

.iJ6Xwe {
    max-width: -webkit-calc(100% - (2rem + 1rem + 0rem));
    max-width: calc(100% - (2rem + 1rem + 0rem))
}

.BNHE9c {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-right: 0.25rem
}

.ipGJ5d {
    height: 2.25rem;
    width: 2.25rem
}

.ipGJ5d .GmuOkf {
    left: 2px
}

.BNHE9c.BNHE9c .f0kHoc {
    margin: 0
}

.BNHE9c .EmVfjc {
    height: 1.125rem;
    margin: 0.5625rem;
    width: 1.125rem
}

.YglcOe {
    width: 100%
}

.lLfZXe {
    padding: 8px 0
}

.H2Gmcc {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column
}

.lLfZXe.hpDt6e .H2Gmcc {
    -webkit-flex-direction: row;
    flex-direction: row
}

.d7L4fc {
    display: inline-block;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
    z-index: 0
}

.Od2TWd {
    bottom: -10px;
    left: -10px;
    position: absolute;
    right: -10px;
    top: -10px;
    -webkit-transition: border-color .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color .2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    outline: none;
    width: 40px;
    z-index: 0
}

.Od2TWd:not(.RDPZE):hover .x0k1lc,
.NtlN8c:hover .Od2TWd:not(.RDPZE) .x0k1lc {
    -webkit-transform: scale(2);
    transform: scale(2);
    background-color: rgba(26, 115, 232, 0.039);
    opacity: 1
}

.lLfZXe:not(.hpDt6e) .d7L4fc+.d7L4fc,
.lLfZXe:not(.hpDt6e) .NtlN8c+.NtlN8c {
    margin-top: 8px
}

.lLfZXe.hpDt6e .d7L4fc+.d7L4fc,
.lLfZXe.hpDt6e .NtlN8c+.NtlN8c {
    margin-left: 16px
}

.lLfZXe:not(.x6g5Cd) .d7L4fc+.hHhDYc {
    margin-left: 14px
}

.NtlN8c {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.lLfZXe.x6g5Cd .NtlN8c {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.hHhDYc {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 24px;
    word-break: break-word
}

.lLfZXe.x6g5Cd .hHhDYc {
    margin-bottom: 8px
}

.vd3tt {
    -webkit-animation: agmAnimateSelectOut .2s forwards;
    animation: agmAnimateSelectOut .2s forwards;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 20px
}

.Od2TWd.N2RpBe>.vd3tt {
    -webkit-animation: agmAnimateSelectIn .2s .1s forwards;
    animation: agmAnimateSelectIn .2s .1s forwards
}

.AB7Lab {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: solid 2px;
    border-color: #5f6368;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    width: 20px
}

.Od2TWd.N2RpBe .AB7Lab {
    border-color: #1a73e8
}

.rseUEf {
    border: 5px solid #1a73e8;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transition: -webkit-transform ease .28s;
    transition: -webkit-transform ease .28s;
    -webkit-transition: transform ease .28s;
    transition: transform ease .28s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0)
}

.Od2TWd.N2RpBe .rseUEf {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1)
}

.Od2TWd.RDPZE {
    cursor: default;
    pointer-events: none
}

.Od2TWd.RDPZE.N2RpBe .rseUEf,
.Od2TWd.RDPZE .AB7Lab {
    border-color: #bdc1c6
}

.x0k1lc {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
    background-color: rgba(218, 220, 224, 0.2);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 20px;
    opacity: 0;
    outline: .1px solid transparent;
    pointer-events: none;
    width: 20px;
    z-index: -1
}

.Od2TWd.qs41qe>.x0k1lc {
    -webkit-animation: agmRadialInkSpread .3s;
    animation: agmRadialInkSpread .3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1
}

.Od2TWd.u3bW4e>.x0k1lc {
    -webkit-transform: scale(2);
    transform: scale(2);
    background-color: rgba(26, 115, 232, 0.122);
    opacity: 1
}

@keyframes agmRadialInkSpread {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }

    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 1
    }
}

@-webkit-keyframes agmRadialInkSpread {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }

    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 1
    }
}

@keyframes agmAnimateSelectIn {
    0% {
        height: 0;
        width: 0
    }

    to {
        height: 100%;
        width: 100%
    }
}

@-webkit-keyframes agmAnimateSelectIn {
    0% {
        height: 0;
        width: 0
    }

    to {
        height: 100%;
        width: 100%
    }
}

@keyframes agmAnimateSelectOut {
    0% {
        height: 0;
        width: 0
    }

    to {
        height: 100%;
        width: 100%
    }
}

@-webkit-keyframes agmAnimateSelectOut {
    0% {
        height: 0;
        width: 0
    }

    to {
        height: 100%;
        width: 100%
    }
}

.C9xz {
    display: inline-block;
    margin-bottom: .5rem;
    width: -webkit-fit-content;
    width: fit-content
}

.szB9Tb,
.szB9Tb:active,
.szB9Tb:visited {
    color: inherit;
    text-decoration: none
}

.F4Rgre {
    max-width: 100%
}

.aBlSgd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem
}

.aBlSgd .rNj4oc {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 0
}

.PDpaTd {
    position: relative
}

.hDVLxe {
    overflow: hidden;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1)
}

.rRimpd {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1)
}

.hDVLxe {
    opacity: 0
}

.rRimpd {
    position: absolute
}

.i5aS4e .rRimpd {
    opacity: 0
}

.hDVLxe .DPvwYc {
    display: block
}

.i5aS4e .hDVLxe {
    opacity: 1
}

.PDpaTd {
    height: 100%
}

.gRisWe {
    height: 100%;
    overflow: hidden;
    padding: 0 1rem;
    text-overflow: ellipsis
}

.WLsCn {
    cursor: text
}

.oFj0xc {
    cursor: default
}

.cL8LOd {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, .87);
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    width: 1.25rem
}

.EhRlC .cL8LOd {
    border-bottom-color: #1e8e3e
}

.lYU7F .cL8LOd {
    border-bottom-color: #c5221f
}

.PDpaTd .neggzd.asQXV {
    color: transparent
}

.PDpaTd:hover .foVBo,
.PDpaTd.Rt1Pjf .foVBo {
    font-size: 0.0625rem;
    height: 0.0625rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: 0.0625rem
}

.PDpaTd:not(:hover):not(.Rt1Pjf) .NhG04b {
    display: none
}

.PDpaTd.Rt1Pjf:before {
    border: solid 0.0625rem #9e9e9e;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.UNDeAc {
    margin-left: -1rem;
    margin-right: -0.875rem
}

.w3SmKe {
    display: block;
    font-style: italic
}

a.qBkhTe {
    text-decoration: none
}

.jeczbd:not(:empty)~* {
    display: none
}

.jeczbd:not(:empty) {
    padding-bottom: 0.5rem
}

.heSgkb {
    text-align: right
}

.ksaOtd {
    font-weight: 500;
    color: rgba(0, 0, 0, .87)
}

.u7S8tc .DPvwYc {
    display: block
}

.UhYXkc {
    display: grid
}

.u7S8tc+.E70Hue {
    pointer-events: none
}

.u7S8tc,
.E70Hue {
    -webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    grid-area: 1/1
}

.u7S8tc {
    opacity: 0;
    position: relative
}

.u7S8tc .WG5SSb {
    right: 0;
    top: 0
}

.ZnNi8e .E70Hue {
    opacity: 0
}

.ZnNi8e .u7S8tc {
    opacity: 1
}

.AsoHne {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, .87);
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    width: 1.25rem
}

.T0FFIe {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 1.5rem
}

.k2wCFc {
    -webkit-flex-direction: row;
    flex-direction: row
}

.tCD5Mc {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    padding: 1.5rem 1.5rem 0;
    margin: 1rem 1.5rem;
    width: 24rem
}

.tCD5Mc h1 {
    margin-bottom: 1rem
}

.tCD5Mc p {
    margin-bottom: 1.5rem;
    margin-top: 0
}

.QWwQ3c {
    margin-bottom: 1rem;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.QWwQ3c>.QRiHXd {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.QWwQ3c .ZSrdFd,
.QWwQ3c .uArJ5e {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 0;
    text-decoration: none
}

.xBIR3c {
    margin-bottom: 1rem
}

.xBIR3c:not(.Uy7ePe) {
    cursor: pointer
}

.xBIR3c.Uy7ePe.YRdPTb .hYsg7c:not(.N2RpBe) {
    visibility: hidden
}

.xBIR3c .snByac {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368
}

.tWdbMc {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.5rem 1rem
}

.pzyQle {
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.r8WYMb {
    margin-bottom: 0.5rem;
    margin-top: -14px
}

.FHIL6b {
    margin-bottom: 1rem
}

.xd70xe:not(:empty) {
    margin-bottom: 1rem;
    word-wrap: break-word
}

.V8apv {
    background-color: #f8f9fa;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem
}

.GOm7re {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.GOm7re>*:not(:empty) {
    margin-bottom: 1rem
}

.GOm7re .oxacD.oxacD {
    margin-top: 0
}

.X4kONd {
    margin-bottom: 1rem;
    width: 100%
}

.ITx4Gf {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1
}

.GAU0yc {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    order: 2
}

.e6es3,
.XfQwid {
    display: none
}

.JZgRpf .e6es3,
.q163ye .XfQwid {
    display: block
}

.AgnJoc {
    font-weight: 400
}

.E9XmEd {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.E9XmEd .jlfrG {
    -webkit-box-flex: 0 0 200px;
    -webkit-flex: 0 0 200px;
    flex: 0 0 200px;
    min-height: 150px;
    width: 200px
}

.E9XmEd .jlfrG:not(:last-child) {
    margin-right: 8px
}

.Q35ysf {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.Q35ysf .jlfrG {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.Q35ysf .jlfrG:not(:last-child) {
    margin-bottom: 8px
}

.jlfrG {
    color: #3c4043;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow-y: hidden;
    position: relative
}

.lnAGpc {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px 16px;
    position: relative
}

.jlfrG:before,
.jlfrG:after {
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    right: 0
}

.jlfrG:before {
    background: linear-gradient(to bottom, #fff, transparent);
    top: 0;
    z-index: 1
}

.jlfrG:after {
    background: linear-gradient(to top, #fff, transparent);
    bottom: 0
}

.E9XmEd .jlfrG {
    max-height: 216px
}

.Q35ysf .jlfrG {
    max-height: 166px
}

.VBYA0c {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-bottom: 8px
}

.ILZUr {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-right: 8px
}

.iaDxJf {
    font-style: italic;
    text-align: end
}

.pN6IZc {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.rhVLBd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.OK1tJe:not(:last-child) {
    margin-right: 4px
}

.OK1tJe {
    background-color: #f1f3f4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 24px;
    outline: none
}

.R5iLrf.KKjvXb .lnAGpc,
.R5iLrf.KKjvXb.OK1tJe {
    outline: 1px dashed transparent
}

.R5iLrf.u3bW4e .lnAGpc,
.R5iLrf.u3bW4e.OK1tJe {
    outline: 1px solid transparent
}

.R5iLrf.yXgmRe:hover {
    cursor: pointer
}

.R5iLrf.u3bW4e,
.R5iLrf.yXgmRe:hover {
    background-color: #e8eaed
}

.jlfrG.u3bW4e:before,
.jlfrG.yXgmRe:hover:before {
    background: linear-gradient(to bottom, #e8eaed, transparent)
}

.jlfrG.u3bW4e:after,
.jlfrG.yXgmRe:hover:after {
    background: linear-gradient(to top, #e8eaed, transparent)
}

.R5iLrf.KKjvXb {
    background-color: #1a73e8;
    color: #fff
}

.jlfrG.KKjvXb:before {
    background: linear-gradient(to bottom, #1a73e8, transparent)
}

.jlfrG.KKjvXb:after {
    background: linear-gradient(to top, #1a73e8, transparent)
}

.R5iLrf.KKjvXb.u3bW4e,
.R5iLrf.KKjvXb.yXgmRe:hover {
    background-color: #1967d2
}

.jlfrG.KKjvXb.u3bW4e:before,
.jlfrG.KKjvXb.yXgmRe:hover:before {
    background: linear-gradient(to bottom, #1967d2, transparent)
}

.jlfrG.KKjvXb.u3bW4e:after,
.jlfrG.KKjvXb.yXgmRe:hover:after {
    background: linear-gradient(to top, #1967d2, transparent)
}

.regK8 {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.UHsoGd.UHsoGd {
    width: auto
}

.UHsoGd .zHQkBf {
    padding: 8px 0 8px 8px;
    text-align: right;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit
}

.UHsoGd .MQL3Ob {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-width: 40%;
    padding-left: 0;
    padding-right: 8px
}

.hbAdzc {
    white-space: nowrap
}

.fJiTAb .RxsGPe {
    font-size: .1rem;
    height: .1rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: .1rem
}

.HgKLRe .zHQkBf {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit
}

.HgKLRe:not(.fvAYpc) .zHQkBf {
    text-align: right
}

.HgKLRe.fvAYpc .zHQkBf {
    text-align: right
}

.YeoM1d {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    white-space: nowrap
}

.HgKLRe .MQL3Ob {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-width: 40%
}

.HgKLRe:not(.fvAYpc) .MQL3Ob {
    padding-left: 0
}

.HgKLRe.fvAYpc .MQL3Ob {
    direction: ltr;
    padding-left: 0
}

.DAadud .zHQkBf {
    padding: 8px
}

.DAadud:not(.fvAYpc) .zHQkBf {
    padding-right: 0
}

.DAadud.fvAYpc .zHQkBf {
    padding-right: 0
}

.DAadud:not(.fvAYpc) .MQL3Ob {
    padding-right: 8px
}

.DAadud.fvAYpc .MQL3Ob {
    padding-right: 8px
}

.cdsSCb {
    display: inline-block;
    border-bottom: 1px solid currentColor;
    line-height: 1em;
    vertical-align: top;
    width: 1.5em
}

.i8ebQe {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.stS1kf {
    padding: 4px 4px 4px 16px
}

.FMomcc .Fxmcue {
    text-align: start
}

.mcDcFb,
.FMomcc .snByac {
    overflow: hidden
}

.jcygrd {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 4px
}

.jjKzBb {
    margin-right: 8px
}

.hlKmZb {
    width: 80px
}

.o1Okpe {
    margin-left: 4px
}

.gXJ4Pb {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.UjXaMc {
    padding: 0 16px 16px 16px
}

.ZtfTEf {
    margin: 4px 24px 8px;
    text-align: end
}

.rjqfkb {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden
}

.yxqL6,
.tMKXJb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px 16px 16px
}

.yxqL6 {
    width: 300px
}

.NBQ1Tb.noVAQc .UGEHab,
.NBQ1Tb:not(.noVAQc) .cU5Ufe {
    display: none
}

.v2RmYb {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.bHR9hf {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.aVdG0e {
    margin-right: 5px;
    margin-bottom: 8px
}

.oPshk {
    margin-left: 11px
}

.oPshk.Lm9w4d .gWQ8we,
.oPshk:not(.Lm9w4d) .ZJxgub {
    display: none
}

.E7ZeX {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.OK63Pb:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.Z3wmOd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.PFv3Ad {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-top: 1rem
}

.nl5VRd {
    margin-bottom: 1rem;
    position: relative
}

@media (max-width:30em) {
    .nl5VRd {
        margin-bottom: 0.5rem
    }
}

.N5dSp {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0.25rem
}

.I0naMd {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 1.75rem;
    margin-left: 0.5rem
}

.W4hhKd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 0.5rem
}

@media (max-width:30em) {
    .W4hhKd {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.CzuI5c:not(:empty) {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    overflow: hidden
}

.CzuI5c .YglcOe {
    width: auto
}

.BjHIWe:not(:empty) {
    margin-bottom: 0.5rem
}

.fOvfyc {
    overflow: hidden;
    word-wrap: break-word
}

.rec5Nb {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.5rem
}

.DwLQSc {
    margin: 0 0.25rem
}

.DwLQSc:first-of-type,
.DwLQSc:last-of-type {
    display: none
}

.Wa3mee {
    margin-bottom: 0.5rem
}

.nGi02b {
    margin-bottom: 1rem;
    overflow: hidden;
    word-wrap: break-word
}

.jlVFDe {
    margin-bottom: 1rem;
    line-height: 1
}

.eaNNh {
    display: inline-block;
    margin: 0 0.5rem
}

.HMTQQd {
    margin: -0.625rem -0.5rem;
    opacity: 0.54
}

.P8NvNd {
    width: 100%
}

.P47N4e {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: 1rem
}

.P47N4e.P47N4e {
    height: 2.375rem;
    width: 2.375rem
}

.fJ1Vac {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem
}

@media (max-width:30em) {
    .fJ1Vac {
        padding: 0.25rem 0.5rem 0.5rem 0.5rem
    }
}

.EE538 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 47.5rem;
    min-width: 0
}

.BiaLW {
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 2rem;
    max-width: 18.75rem;
    width: 18.75rem
}

.kwWsO {
    padding-bottom: 0.5rem
}

.ar1wE .eqqrO,
.ySjuvd .eqqrO {
    border-top: 0.125rem solid #e8eaed
}

.lq45g {
    padding-top: 1rem
}

.AJFihd {
    padding: 1.5rem
}

.Dy8Cxc {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 0.5rem
}

.KI1A1e {
    text-align: right
}

.P2wHlc {
    border-bottom: 0.0625rem solid #e0e0e0;
    margin-bottom: 1rem
}

.B2pRjc {
    margin: 2rem 0;
    text-align: center
}

.IPGLSb {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.cYYbdd {
    margin-bottom: 1rem
}

.XgQDH {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem
}

.QxGMXc {
    margin: 1rem 1.5rem 0 1.5rem
}

.uGeUQe {
    margin-left: -0.5rem
}

.Epqnjf {
    margin: 0 1.25rem
}

.lLBkgb:not(:empty) {
    margin-bottom: 1rem
}

.hjqfGd {
    padding-bottom: 1rem
}

@media (max-width:30em) {
    .hjqfGd {
        padding-bottom: 0
    }
}

sentinel {}